In [21]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [22]:
full_labels = pd.read_csv('data/udacity_labels.csv')

In [23]:
full_labels.head()

         filename  width  height   class  xmin  ymin  xmax  ymax
0  l_left0019.jpg   1368    1096   Green   641   410   675   540
1  l_left0040.jpg   1368    1096   Green   634   408   668   538
2  l_left0055.jpg   1368    1096  Yellow   625   402   671   549
3  r_left0585.jpg   1368    1096   Green   828   399   861   480
4  r_left0353.jpg   1368    1096     Red   724   396   756   478

In [24]:
grouped = full_labels.groupby('filename')

In [25]:
grouped.apply(lambda x: len(x)).value_counts()

1    447
dtype: int64

### split each file into a group in a list

In [26]:
gb = full_labels.groupby('filename')

In [27]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [28]:
len(grouped_list)

447

In [29]:
train_index = np.random.choice(len(grouped_list), size=350, replace=False)
test_index = np.setdiff1d(list(range(447)), train_index)

In [30]:
len(train_index), len(test_index)

(350, 97)

In [31]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [32]:
len(train), len(test)

(350, 97)

In [33]:
train.to_csv('./data/train_labels.csv', index=None)
test.to_csv('./data/test_labels.csv', index=None)